.navbar {
  border: 0.1em solid #516c0d;
  border-radius: 2em;
  margin: 1em;
  background-color: rgba(195, 195, 195, 0.5);
  position: fixed !important;
  width: calc(100% - 2em);
  z-index: 10;
}

.navbar-nav {
  z-index: 2;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff !important;
}

.navbar-toggler {
  border-radius: 2em !important;
}

.navbar-toggler:hover {
  border: 0.1em solid #516c0d;
}

.navbar-nav .nav-link:hover {
  color: #516c0d;
  font-weight: bold;
}

.carousel {
  border-radius: 2em !important;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  height: calc(75vh);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel-item {
  height: 100%;
  min-height: 300px;
  position: relative;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.carousel-caption .bg-opacity {
  background-color: rgba(167, 165, 165, 0.5); /* Semi-transparent black */
  color: #ffffff;
}

/* Program and Concern Section Styles */
.program-section,
.concern-section,
.popular-section {
  margin-top: 2em !important;
  padding: 2em;
  background-color: #d4f1c7;
  border: 0.1em solid #79a212;
  border-radius: 1em;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.join-container {
  background: url("../../assets/BottomHero.png") no-repeat center center !important;
  padding-top: 2em !important;
  background-color: #e1f0da;
  position: relative;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-header {
  position: absolute;
  top: -1em;
  left: 1em;
  background-color: #e1f0da;
  padding: 0 0.5em;
  font-weight: bold;
  font-size: 1.5em;
  color: #516c0d;
  border: 0.08em solid #79a212;
  border-radius: 1em;
}

.section-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-content img {
  width: 8em;
  height: 8em;
  border-radius: 1em;
  object-fit: cover;
  margin-right: 1em;
}

.section-content img:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  border: 0.1em solid #79a212;
}

.more-link {
  align-self: flex-start;
  font-weight: bold;
  color: #516c0d;
  text-decoration: none;
}

.more-link:hover {
  text-decoration: underline;
}

.popular-section {
  margin-top: 1em !important;
  margin-left: 6em !important;
  margin-bottom: 4em !important;
  height: 100vh !important;
  width: 87vw !important;
}

.footer-section {
  padding: 20px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #79a212;
  height: 8em;
}

.card {
  width: 82vw;
  height: 12em !important;
  position: relative;
  margin-bottom: 1em !important;
  border-radius: 1em !important;
}

.card-img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover; /* Ensures the image covers the entire card without distortion */
}

.card:hover {
  transform: scale(1.025);
  transition: transform 0.2s ease-in-out;
  border: 0.1em solid #79a212;
}
