.navbar {
    margin-top: 3em;
    border: 0.1em solid #516c0d;
    border-radius: 2em;
    margin: 1em;
    background-color: rgba(195, 195, 195, 0.5);
    position: fixed !important;
    width: calc(100% - 2em);
    z-index: 10;
  }
  
  .navbar-nav {
    z-index: 2;
  }
  
  .navbar-brand {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff !important;
  }
  
  .navbar-toggler {
    border-radius: 2em !important;
  }
  
  .navbar-toggler:hover {
    border: 0.1em solid #516c0d;
  }
  
  .navbar-nav .nav-link:hover {
    color: #516c0d;
    font-weight: bold;
  }

  .news-detail {
    padding-top: 15vh;
    text-align: center;
    padding-bottom: 4vh;
  }

  .tulisan {
    text-align: justify;
    margin-left: 6.5vw;
    margin-right: 6.5vw;
  }
  